---
layout: default
---

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> <!-- Magnific Popup depends on jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>


<div class="page-content">
  <h1>
    {{ page.title }}
  </h1>
  <article>
    {{ content }} <!-- The text should render here -->
  </article>
  <div class="gallery">
    {% if page.image_folder %}
    {% assign image_directory = page.image_folder %}
    {% else %}
    {% assign image_directory = 'assets/images/' %}
    {% endif %}

    {% assign name_dict = site.data.name_dict %}

    {% for image in site.static_files %}
    {% if image.path contains image_directory and image.extname == ".webp" %} <!-- Only render .webp files -->
    <div class="gallery-item">
      <a href="{{ image.path | relative_url }}" class="popup-link"> <!-- Added popup-link class here -->
        <img src="{{ image.path | relative_url }}" alt="{{ name_dict[image.name] | default: image.name }}">
        <div class="overlay">
          {% if page.show_labels %}
          <span class="image-name">{{ name_dict[image.name] | default: image.name }}</span>
          {% endif %}
        </div>
      </a>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>

<script>
  $(document).ready(function() {
    $('.gallery').magnificPopup({
      delegate: 'a.popup-link', // the selector for gallery item
      type: 'image',
      gallery: {
        enabled: true, // set to true to enable gallery
        navigateByImgClick: true,
        preload: [0, 2] // will preload 0 - before current, and 2 after the current image
      },
      image: {
        titleSrc: function(item) {
          // Use the .image-name text for the title
          return item.el.find('.image-name').text();
        }
      }
    });
  });
</script>


<style>
  /* Styling for the popup title */
  .mfp-title {
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    color: #fff;
  }
</style>


<style>
  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 columns */
    grid-gap: 2px;
    /* Space between grid items */
  }

  .gallery-item {
    position: relative;
    width: 100%;
    padding-top: 100%;
    /* Aspect ratio 1:1 to make it a square */
    overflow: hidden;
  }

  .square {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .gallery-item img {
    position: absolute;
    /* Ensure the image is positioned within the square */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Fill the square without distorting the aspect ratio */
    margin: 0;
    /* Reset margins if applied globally */
    padding: 0;
    transition: opacity 0.3s ease;
  }

  .gallery-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
    color: white;
    font-size: 1rem;
    text-align: center;
  }

  .gallery-item:hover .overlay {
    opacity: 1;
  }

  .gallery-item:hover img {
    opacity: 0.8;
  }

  .image-name {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    cursor: default;
  }
</style>